package view

templ Base() {
	<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Mapa Pontos de Coleta</title>

			<script src="/static/scripts/htmx.min.js"></script>
			<script src="/static/scripts/response-targets.js"></script>
			</head>
			<body hx-boot="true" hx-ext="response-targets">
			{ children... }
		</body>
	</html>
}
